@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
	margin: 0;
	padding: 0;
	font-family: "Josefin Sans", sans-serif;
	color: var(--desaturated-red);
}

body {
	/* ### primary */
	--desaturated-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);

	/* ### neutral */
	--dark-grayish-red: hsl(0, 6%, 24%);

	/* ### gradients */
	--gradient1: linear-gradient(
		linear,
		135deg,
		from hsl(0, 0%, 100%),
		to hsl(0, 100%, 98%)
	);
	--gradient2: linear-gradient(
		linear,
		135deg,
		from hsl(0, 80%, 86%),
		to hsl(0, 74%, 74%)
	);

	--margin: 2em;

	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
}

main {
	display: grid;
	align-content: start;
	padding: var(--margin) 0;
	row-gap: var(--margin);
}

img {
	height: 100%;
	object-fit: cover;
}

#hero {
	width: 100%;
}

#logo {
	height: 1em;
	padding-left: var(--margin);
}

#text {
	margin-top: var(--margin);
	text-align: center;
	padding: 0 var(--margin);
}

#text h1 {
	text-transform: uppercase;
	letter-spacing: 0.25em;
	line-height: 1em;
	font-size: 2.5em;
	color: var(--dark-grayish-red);
	margin-bottom: 0.5em;
}

#text h1 span {
	display: block;
	font-weight: 300;
}

#email-field {
	display: flex;
	justify-content: center;
	align-items: center;
}
#email-field input {
	all: unset;
	height: 1em;
	width: 100%;
	margin: 0;
	margin: 0 var(--margin);
	padding: 1em;
	border-radius: 2em;
	border: 1px solid var(--desaturated-red);
}

#email-field button {
	all: unset;
	height: 3em;
	aspect-ratio: 3/2;
	right: var(--margin);
	border-radius: 2em;
	background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	position: absolute;
	display: grid;
	place-items: center;
}

#email-field button img {
	height: 1.5em;
}

.attribution {
	bottom: 0;
	font-size: 0.5em;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1000px) {
	body {
		--margin: 6em;
	}
	main {
		display: grid;
		grid-template-columns: 55% 45%;
		/* align-content: center; */
		height: 100vh;
		padding: 0;
		gap: 0;
	}

	#hero {
		grid-row: 1 / 4;
		grid-column: 2 / 3;
	}

	#logo {
		height: 3em;
		align-self: center;
		margin: 0 var(--margin);
	}

	#text {
		text-align: left;
		align-self: center;
		margin: 0 var(--margin);
	}

	#text h1 {
		letter-spacing: 0.25em;
		font-size: 5em;
	}

	#text p {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	#email-field {
		align-self: start;
		width: 100%;
		margin: 0 auto;
	}

	#email-field input {
		all: unset;
		height: 2em; /* needed because of all: unset */
		margin: 0 calc(var(--margin) * 2);
		width: 100%;
		padding: 1em;
		border-radius: 2em; /* needed because of all: unset */
		border: 1px solid var(--desaturated-red); /* needed because of all: unset */
	}

	#email-field button {
		height: 4em;
		position: absolute; /* needed because of all: unset */
		right: calc(48% + var(--margin) + 2em);
	}

	.attribution {
		position: absolute;
		font-size: 1em;
	}
}
